@model Project_NTT_data.Models.DeviceViewModelList
@{
    ViewData["Title"] = "Home Page";
    @addTagHelper *, Project_NTT_data.Extensions
}

<h1></h1>

        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>                        
                        <th>Device Name</th>
                        <th>Location</th>
                        <th>Organization</th>
                        <th>Type</th>
                        <th>Active</th>
                        <th colspan="2">Controls</th>
                    </tr>
                </thead>
                @foreach (var item in Model.DeviceList)
                {
                    <tr>                        
                        <td>@item.Device_Name</td>
                        <td>@item.Loc_Name</td>
                        <td>@item.OrganizationName</td>
                        <td>@item.TypeName</td>
                        <td><i class="@(item.IsActive ? "fa fa-check" : "fa fa-times")"></i></td>
                        <td>@Html.ActionLink("Edit", "Update", "Home", new { id = item.DeviceId }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = item.DeviceId }, new { @class = "btn btn-danger"}) </td>
                    </tr>
                }
                @Html.HiddenFor(x=>x.IsAdmin)
                <a type="button" class="btn btn-success me-4" asp-controller="Home" asp-action="newdevice"><span>Add New Device</span></a>
                <a type="button" class="btn btn-success" asp-controller="Home" asp-action="ChangeUser">
                    @if (@Model.IsAdmin)
                    {
                        <span>Be A User For Aarhus University</span>
                    }
                    else
                    {
                        <span>Be A Admin</span>
                    }
                </a>

            </table>
        </div>


<h2>Locations</h2>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Location</th>
                        <th colspan="2">Controls</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Location)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Loc_Name</td>
                        @if (@Model.IsAdmin)
                        {
                            <td>@Html.ActionLink("Edit", "Update", "Location", new { id = item.CrypetedID }, new { @class = "btn btn-warning"})</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Location", new { id = item.Id }, new { @class = "btn btn-danger"})</td>

                        }
                        else
                        {
                            <td> <button class="dt-button buttons-selected buttons-edit disabled" type="button" disabled="disabled"><span>Edit</span></button></td>
                            <td> <button class="dt-button buttons-selected buttons-remove disabled" type="button" disabled="disabled"><span>Delete</span></button></td>
                        }
                    </tr>
                }
                <a type="button" class="btn btn-success" asp-controller="Location" asp-action="newlocation"><span>Add New Location</span></a>
            </table>
        </div>

<h2>Organizations</h2>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Organization</th>
                        <th colspan="2">Controls</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Organization)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Org_Name</td>
                        @if (@Model.IsAdmin)
                        {
                        <td>@Html.ActionLink("Edit", "Update", "Organization", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Organization", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                        }
                        else
                        {
                            <td> <button class="dt-button buttons-selected buttons-edit disabled" type="button" disabled="disabled"><span>Edit</span></button></td>
                            <td> <button class="dt-button buttons-selected buttons-remove disabled" type="button" disabled="disabled"><span>Delete</span></button></td>
                        }
                        
                    </tr>
                }
                <a type="button" class="btn btn-success" asp-controller="Organization" asp-action="newOrganization"><span>Add New Organization</span></a>
            </table>
        </div>

<h2>Types</h2>
        <div class="container">
           <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Types</th>
                        <th colspan="2">Controls</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Types)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Type_Name</td>
                        @if (@Model.IsAdmin)
                        {
                        <td>@Html.ActionLink("Edit", "Update", "Types", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Types", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                        }
                        else
                        {
                            <td> <button class="dt-button buttons-selected buttons-edit disabled" type="button" disabled="disabled"><span>Edit</span></button></td>
                            <td> <button class="dt-button buttons-selected buttons-remove disabled" type="button" disabled="disabled"><span>Delete</span></button></td>
                        }
                        
                    </tr>
                }
                <a type="button" class="btn btn-success" asp-controller="Types" asp-action="newTypes"><span>Add New Type</span></a>
            </table>
        </div>